
.code {
    background-color: #F4F4F4;
    border: 1px solid black;
    padding: 5px;

}


body {
    background-color: #fafafa;
    color: #222;
    font: 12px Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
    padding: 0 5px;

}
a {
    color: #0048B3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    /*color: #007C00;*/
    font-size: 28px;
}
table {

    border: medium none;
    border-collapse: collapse;
    border-color: #E6E7E8;

}
td {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #DDDDDD;
    border-style: none none dotted;
    border-width: medium thin 1px;

}
th {
    border: medium none;


}

.TableHeadingColor th {

    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EEEEEE), to(#CCCCCC));
    background: -webkit-linear-gradient(#EEEEEE, #CCCCCC);
    background: -moz-linear-gradient(center top , #EEEEEE, #CCCCCC) white;
    background: -ms-linear-gradient(#EEEEEE, #CCCCCC);
    background: -o-linear-gradient(#EEEEEE, #CCCCCC);
    background: linear-gradient(#EEEEEE, #CCCCCC);

    background-repeat: repeat-x;
    color: #333;
    font-size: 14px;
    text-shadow: 0 1px 0 #EEEEEE;
    border: 1px solid #BBBBBB

}
.TableSubHeadingColor {
    background: none repeat scroll 0 0 #E3EFFF;
}
.TableRowColor {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px dotted #CCCCCC;
    border-right: 1px dotted #CCCCCC;

}
.TableRowColor a {
    /*    border-bottom: medium none;
   color: #0055d2;*//*0069c2;*//*
   font-weight: bolder;*/

    border-bottom: medium none;

    font-family: courier;
    color: #333;
    font-size: 14px;

}

.TableRowColor code b a, pre b,.TableRowColor td b a{
    font-family: Consolas,Monaco,Monospaced,monospace;
    color: #08C;
}

pre a{

    font-weight: bolder;
    color: #333;
}



.TableHeadingColor th font b{
    color: #000000;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    padding: 2px 4px;

}

tr.TableRowColor:hover {
    background: none repeat scroll 0 0 #e1ebf2;
}
.FrameTitleFont {
    font-size: 120%;
    /*font-weight: bold;*/
}
/*.FrameTitleFont a {*/
/*color: #333333;*/
/*}*/
.FrameHeadingFont {
    font-size: 95%;
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
    color: #222222;
    display: inline-block;
    font-family: Helvetica;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    margin: 4px 0;
    padding: 3px 7px;
    /*text-decoration: underline;*/
    text-shadow: 0 1px 0 #FFFFFF;

    background-color: #F2F2F2;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;

    display: inline-block;
}
.FrameItemFont {
    font-size: 95%;
    line-height: 130%;
}
.FrameItemFont a {
    color: #0048B3;
}
.FrameItemFont a:hover {
    border-bottom: medium none;
    color: #0055d2;
    text-decoration: underline;
}
.NavBarCell1 {

    /*background: -moz-linear-gradient(center top , #EEEEEE, #CCCCCC) white;*/
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#dedede));
    background: -webkit-linear-gradient(#FFFFFF, #dedede);
    background: -moz-linear-gradient(center top , #FFFFFF, #dedede) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(#FFFFFF, #dedede);
    background: -o-linear-gradient(#FFFFFF, #dedede);
    background: linear-gradient(#FFFFFF, #dedede);

    border: medium none;
    border: 1px solid #DDDDDD;
    /*border-radius: 3px 3px 3px 3px;*/
    padding: 0;
    vertical-align: middle;
}

.NavBarCell1 .NavBarCell1{
    border: none;
    background: none;
}


.NavBarCell1Rev font b{
    background-color: #52A8E8;

    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#52A8E8), to(#377AD0));
    background: -webkit-linear-gradient(#52A8E8, #377AD0);
    background-image: -moz-linear-gradient(center top , #52A8E8, #377AD0);
    background: -ms-linear-gradient(#52A8E8, #377AD0);
    background: -o-linear-gradient(#52A8E8, #377AD0);
    background: linear-gradient(#52A8E8, #377AD0);


    border-color: #4081AF #2E69A3 #20559A;
    border-radius: 3px;

    border-width: 1px;
    box-shadow:0 1px 0 0 #72B9EB inset, 0 1px 1px 0 #999999;

    color: #FFFFFF;
    /*font: 11px/1 "lucida grande",sans-serif;*/
    padding: 8px 10px;
    text-align: center;
    text-shadow: 0 -1px 1px #3275BC;
    font-weight: bolder;
    /*vertical-align: middle;*/
}

.NavBarCell1 a, .NavBarCell1 font a {
    color: #333333;
}

.NavBarCell1 a {
    text-decoration: none;
    float: left;
    padding: 10px 5px;
    text-shadow: 0 1px 0 #EEEEEE;
}

.NavBarCell1 a:hover{
    text-decoration: underline;
}

.NavBarCell1 font{
    color: #999;


    text-decoration: none;
    text-shadow: 0 1px 0 #EEEEEE;
}

.NavBarCell1 .NavBarFont1 b{
    color: #525252;
    font-family: helvetica;
    font-size: 13px;
    font-weight: bold;
}

.NavBarCell1 .NavBarCell1 a:hover {

    background-color: #F27555;

    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F27555), to(#DB7056));
    background: -webkit-linear-gradient(#F27555, #DB7056);
    background-image: -moz-linear-gradient(center top , #F27555, #DB7056);
    background: -ms-linear-gradient(#F27555, #DB7056);
    background: -o-linear-gradient(#F27555, #DB7056);
    background: linear-gradient(#F27555, #DB7056);

    border-color: #af5040 #a35d2e #9a4220;
    border-radius: 3px;
    border-width: 1px;
    box-shadow:0 1px 0 0 #eb8c72 inset, 0 1px 1px 0 #999999;
    padding: 7px 5px;
    text-align: center;
    text-decoration: none;
    /*vertical-align: middle;*/
}
.NavBarCell1 .NavBarCell1 a:hover b{
    color: #fff;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px #bc4932;
    font-weight: bolder;

}



.NavBarFont1Rev {
    display: inline-block;
}
.NavBarCell2 {
    /*border: medium none;*/
    background-color: white;
    border: 1px solid #DDD;
    color: #CCC;
    padding: 4px;
}
.NavBarCell2 a {
    color: #116CB8;
    font-size: 90%;
}
.NavBarCell3 {
    border: medium none;
}
font {
    /*font: inherit !important;*/

    font: 12px Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

hr{
    border-bottom: 1px solid #CCCCCC;
    border-style: none none solid;
}

td .NavBarCell1Rev{
    background: transparent;
    border: none;
    padding: 0;
    vertical-align: middle;
}

h2{
    color: #565656;
    font-size: 19pt;
    font-weight: normal;
    text-shadow: 0 1px 1px #CCCCCC;
}

h2 font, .FrameTitleFont a{

    background-color: #52A8E8;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#52A8E8), to(#377AD0));
    background: -webkit-linear-gradient(#52A8E8, #377AD0);
    background-image: -moz-linear-gradient(center top , #52A8E8, #377AD0);
    background: -ms-linear-gradient(#52A8E8, #377AD0);
    background: -o-linear-gradient(#52A8E8, #377AD0);
    background: linear-gradient(#52A8E8, #377AD0);
    border-color: #4081AF #2E69A3 #20559A;
    border-radius: 16px 16px 16px 16px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #72B9EB inset, 0 1px 2px 0 #B3B3B3;
    color: #FFFFFF;
    display: inline-block;
    font: 12px "lucida grande",sans-serif;
    margin-bottom: 7px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: 0 -1px 1px #3275BC;

}

h3{
    background-color: #fffab8;
    border-radius: 4px 4px 4px 4px;
    color: #303030;
    display: inline-block;
    font-size: 13px;
    /*font-style: italic;*/
    font-weight: normal;
    margin-left: 0;
    padding: 3px 14px;
}

dt b{

    border-radius: 3px 3px 3px 3px;
    color: #222222;
    display: inline-block;
    font-family: Helvetica;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    margin: 4px 0;
    padding: 3px 7px;
    /*text-decoration: underline;*/
    text-shadow: 0 1px 0 #FFFFFF;

    background-color: #F2F2F2;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;



}

dt b:hover{

    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#4B4B4B));
    background: -webkit-linear-gradient(#656565, #4B4B4B);
    background: -moz-linear-gradient(#656565, #4B4B4B) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(#656565, #4B4B4B);
    background: -o-linear-gradient(#656565, #4B4B4B);
    background: linear-gradient(#656565, #4B4B4B);


    color:#fafafa;
    text-shadow: 0 1px 0 #000;

}

th b{
    font-weight: normal;
}

pre , code{
    font-family: Courier;
    font-size: 14px;
    color: #111;
}
